.main-forms {
  display: flex;
  justify-content: space-between;
  padding: 5px 25px 0px 25px;
  font-size: 18px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.left-side-forms-input {
  display: flex;
  flex-direction: column;
}
.right-side-forms-input {
  display: flex;
  flex-direction: column;
}
.select-option select{
  border-radius: 2px;
}


.left-side-forms-input input{
  width: 35vh;
  padding-bottom: 6px;
}

.right-side-forms-input input{
width: 35vh;
text-align: right;
padding-bottom: 6px;
}

