.categories-method {
  display: flex;
  flex-direction: row;
}

.col-xs-1 {
  width: 8.333333333333332%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5 {
  width: 41.66666666666667%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-2 {
  width: 16.666666666666664%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-2 .text-right {
  text-align: right;
}
