.page {
  margin: 0 auto;
  padding-bottom: 25px;
  border-bottom: solid 1px rgb(223, 223, 223);
  padding-bottom: 40px;
}
.page p {
  font-size: 18.5px;
  margin-top: 1px;
}
.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100vw;
}

.left-side {
  display: flex;
  flex-direction: row;
  gap: 3px;
  font-weight: bold;
}

.left-side input {
  font-weight: bold;
}

.arquivos {
  display: flex;
  justify-content: end;
  padding-right: 20px;
  gap: 7px;
}

.click-action {
  cursor: pointer;
  color: #428bca;
  font-size: 1.1rem;
}

.click-action:hover {
  text-decoration: underline;
}

.image-upload {
  display: flex;
  justify-content: end;
}
img {
  width: 350px;
}

input[type='file'] {
  display: none;
}
