* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-content {
  max-width: 1000px;
  margin: 0 auto;
}
input {
  outline: none;
  border: transparent;
}

input:focus {
  border: solid 1px rgb(223, 223, 223);
}

input:hover {
  border: solid 1px rgb(223, 223, 223);
}
